#game-board {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  height: 300px;
  margin: 0 auto;
  border: 3px solid black;
}

.cell {
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  border: 1px solid black;
  font-size: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.cell:hover {
  background-color: #ddd;
}

#reset-button {
  display: block;
  margin: 20px auto;
  font-size: 1.5em;
  padding: 10px 20px;
  cursor: pointer;
}
